server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/security?serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  mustache:
    prefix: classpath:/templates/
    suffix: .html
    charset: UTF-8
    content-type: text/html; charset=utf-8

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            #Spring Security OAuth2 Client 라이브러리에는 Google, Facebook, GitHub 등과 같은 유명 Provider들의 설정은 미리 정의되어 있기 때문에 생략 가능하다.
            #client-name: Google
            #authorization-grant-type: authorization_code
            #redirect-uri: http://localhost:8080/login/oauth2/code/google
            scope:
              - email
              - profile

          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            scope:
              - email
              - name

        provider:
          #google:
            #...
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response #https://naver.me/5FEdrXWt 참고

#logging:
#  level:
#    org.springframework.security: DEBUG